// Mixins in here

.buttons {
    background: blue;
    width: 95%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    a {
        font-size: 2rem;
        text-decoration: none;
        color: white;

    }
}
.buttonsHover{
    background: black;
    a{
        color: lighten(blue, 20%);
       
    }
}
.width-100 {
    width: 100%;
  }
  
  .border-bottom-grey {
    border-bottom: 1px solid lightgrey;
  }
  
  .flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
  }
  